@import "../_sass-addons/color-variables";

.new-comment {
  min-width: 320px;
  max-width: 500px;
  padding: 0 10px 5px;
  border-bottom: 1px solid $border-color;
}

.new-comment__title {
  font-size: 20px;
  margin-bottom: 20px;
}

.new-comment__content {
  display: flex;
}

.new-comment__avatar {
  flex: 0 0 auto;
  margin-right: 15px;
}

.new-comment__input-section {
  flex: 1 1 auto;
}

.new-comment__input-section__input {
  margin-top: 3px;
}

.new-comment__input-section__error {
  color: $red;
  margin-top: 8px;
  line-height: 18px;
  text-align: center;
}