@import "../../_sass-addons/color-variables";

$input-max-width: 500px;
$input-height: 48px;

.input {
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
  box-sizing: border-box;
  height: $input-height;
  width: 100%;
  max-width: $input-max-width;
  color: $dark-font;
  font-size: 18px;
  background: white;
  border: 1px solid $border-color;
  border-image: initial;
  border-radius: 4px;
  font: inherit;
  vertical-align: baseline;
  cursor: auto;
  user-select: text;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-align: start;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  &:disabled {
    cursor: not-allowed;
    color: $grey;
    background-color: lighten($border-color, 5%);
    border-color: lighten($border-color, 5%);
  }
  &.error {
    border-color: $red;
  }
  &:focus {
    outline: none;
    border-color: lighten($border-color, 5%);
    box-shadow: 0 0 10px lighten($border-color, 10%);
    &.error {
      border-color: $red;
      box-shadow: 0 0 10px $red;
    }
  }
}