@import "../_sass-addons/color-variables";

.comment-list-item:not(:last-child) {
  margin-bottom: 25px;
}

.comment-list-item__content-wrapper {
  display: flex;
  min-height: 54px;
}

.comment-list-item__content-avatar {
  flex: 0 0 auto;
  margin-right: 15px;
}

.comment-list-item__content__user-full-name {
  color: $grey;
  font-size: 15px;
}

.comment-list-item__content__message {
  font-size: 16px;
  text-align: justify;
}

.comment-list-item__footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.comment-list-item__footer-item {
  color: $grey;
  font-size: 14px;
  margin-right: 7px;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: lighten($grey, 10%);
  }
}